@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="background-color: lightblue">
    <h1 class="display-4">Welcome to Password_State</h1>
    <p>Here you can store your passwords securely and you can see the logs</p>
    
</div>
